@page
@model asp_razor_crud_demo.Pages.Category.EditModel
@{
}

<form method="post">
    <input asp-for="Category.Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Edit Page @Model.Category.Id</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Category.Name"></label>
            <input asp-for="Category.Name" class="form-control"/>
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Category.DisplayOrder"></label>
            <input asp-for="Category.DisplayOrder" class="form-control"/>
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
        <a asp-page="Index" class="btn btn-secondary">Back To List</a>
    </div>
</form>
@*因為_ValidationScriptPartial.cshtml這支裡面只有script，所以用這個方式載入*@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}